/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
a {
  text-decoration: none;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.5;
}
/* container 語意：將最重要的內容放在畫面中間 */
.container {
  width: 1200px;
  margin: 50px auto;
  text-align: center;
}
/* header */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  height: 958px;
  background: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week2/banner.png)
    no-repeat center center;
}
.content {
  width: 345px;
  top: 32%;
  left: 42%;
}
.content img {
  margin: 50px 5px 0;
}
.name {
  font-size: 80px;
}
.heres {
  font-size: 30px;
}
.sns {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sns:hover {
  transform: scale(1.5);
}
/* About */
.container img {
  margin: 20px 0;
}
.title {
  font-size: 65px;
}
.school {
  width: 500px;
  margin: 0 auto;
  padding-bottom: 20px;
  border-bottom: 1px solid #000;
}
.experience {
  margin-top: 20px;
}
.experience li{
  margin-top: 28px;
}
.experience li::before {
  content: "";
  display: inline-block;
  width: 22px;
  height: 22px;
  margin-right: 10px;
  background-color: #891818;
  border-radius: 50%;
}
/* Brand */
.brand,
.footer {
  text-align: center;
  color: #fff;
  background-color: #000;
}
.brand {
  padding: 56px 0;
}
.brand P {
  margin-bottom: 30px;
}
.subTitle {
  margin-top: 30px;
  font-size: 18px;
}
.brandImg {
  margin: 30px 5px 30px 5px;
}
.firstBrandImg {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
/* works */
.worksList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.worksList li {
  margin: 56px 10px 48px 0;
}
/* footer */
.footer {
  padding: 50px 0;
}
.footer li {
  font-size: 18px;
}
.footer a {
  color: #fff;
}
@media (max-width: 768px) {
  /* header */
  .content p,
  h1 {
    display: none;
  }
  .content img {
    display: flex;
  }
  /* About */
  .info {
    width: 960px;
    margin: 50px auto;
    text-align: center;
  }
  .info img {
    margin: 20px 0;
  }
  .title {
    font-size: 65px;
  }
  .school {
    width: 500px;
    margin: 0 auto;
    padding-bottom: 20px;
    border-bottom: 1px solid #000;
  }
  .experience {
    margin-top: 20px;
  }
  .circle {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    background-color: #891818;
    border-radius: 50%;
  }
}
